<div id="wrapper" class="account">
  {{!-- {{#if title}}
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  {{else}} --}}
  <div class="title"></div>
  {{!-- {{/if}} --}}
  <div class="personal-wrap">
    <!-- personalinfo about user, display pic or something -->
    <div class="dp">
       {{#if user.u_id}}<a id="make-uplpoll-button" href="/new/{{user.u_id}}">
        Create poll about {{user.u_id}}
      </a>{{/if}}
      <!-- display pic -->
      <div class="edit_wrap">
        <img src="/images/dummy_dp.png" alt="display picture" />
        {{#if self}}<span class="edit">[Upload New]</span>{{/if}}
      </div>
      {{#if createUpl}}
      {{/if}}
    </div>
    <div class='personal-info'>
      {{!-- <h5>Name: {{#if user.u_name}} {{user.u_name}} {{else}} [Private] {{/if}}</h5> --}}
      <h4>User: {{#if user.u_id}} {{user.u_id}} {{else}} N/A {{/if}}</h5>
        {{!-- <h5>Location: {{#if user.u_loc}} {{user.u_loc}} {{else}} [Private] {{/if}}</h5> --}}
      </div>
      <div class="stats-wrap">
        <!-- user statistics -->
        <h2>Statistics</h2>
        <div class="stats-info">
          <h4>Total votes: {{#if user.u_id}}{{voteslength}}{{else}}N/A{{/if}}</h4>
          <h4 data-pid='1'>Longest vote time: {{#if user.u_id}}{{votedisplay.longest}}s{{else}}N/A{{/if}}</h4>
          <h4 data-pid='2'>Shortest vote time: {{#if user.u_id}}{{votedisplay.shortest}}s{{else}}N/A{{/if}}</h4>
          <h4>Avg. vote time: {{#if user.u_id}}{{votedisplay.average}}s{{else}}N/A{{/if}}</h4>
          <h4>Total vote time: {{#if user.u_id}}{{votedisplay.total}}s{{else}}N/A{{/if}}</h4>
          <h4>Polls created: {{#if user.u_id}}{{pollslength}}{{else}}N/A{{/if}}</h4>
        </div>
      </div>
    </div>
    {{#if user.u_id}}
    <div class="tabs">
      <div class="tab-container">
        <div class="tab-button" data-index="highlight-wrap" title="Click to expanding or collapse"><h2>{{user.u_id}}'s Highlights</h2></div>
        <div class="highlight-wrap tab-content">
            <!-- highlighted polls section // DON"T MOVE THIS INSIDE hightlight DIV-->
          <div class='highlight pie-align'>
            <h5 class="no_hl_msg" style="display:block; text-align:center; margin: 5px 0 10px 0;">No highlights found -- go to any poll and highlight it to show it here!</h5>
          </div>
          {{!-- <div class="loadmore">Load More</div> --}}
        </div>
      </div>
      <div class="tab-container">
        <div class="tab-button" data-index="attr-wrap" title="Click to expanding or collapse"><h2>Attributes</h2></div>
        <div class="attr-wrap tab-content">
          <div class='attr pie-align'>
            <!-- user attr polls section -->
          </div>
          <div class="loadmore">Load More</div>
        </div>
      </div>
      <div class="tab-container">
        <div class="tab-button" data-index="upl-wrap" title="Click to expanding or collapse"><h2>Polls About {{user.u_id}}</h2></div>
        <div class="upl-wrap tab-content">
          <div class="upl pie-align">
            <!-- upl polls section -->
          </div>
          <div class="loadmore">Load More</div>
        </div>
      </div>
      <div class="tab-container">
        <div class="tab-button" data-index="polls-wrap" title="Click to expanding or collapse"><h2>{{user.u_id}}'s Polls</h2></div>
        <div class="polls-wrap tab-content">
          <!-- user generated polls -->
          <table class="table table-striped">
            <thead>
              <tr>
                <td></td>
                <td><b>Question</b></td>
                <td><b>Votes</b></td>
              </tr>
            </thead>
            <tbody id='polls-wrap'>
              {{#each polls}} 
              <tr class="poll" poll-id='{{p_id}}'>
                <td class="extras"></td>
                <td>{{p_q}}</td>
                <td>{{p_total}}</td>
                <td><a href="/p/{{p_id}}"  title="Vote!"><span class="btn btn-default btn-xs">Vote</span></a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{else}}{{/if}}
  </div>