<div id="wrapper" class="account">
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  <div class="personal-wrap">
    <!-- personalinfo about user, display pic or something -->
    <div class="dp">
      <!-- display pic -->
      <img src="http://dummyimage.com/150x200/000/fff" alt="display picture">
    </div>
    <div class='personal-info'>
      <h5>Name: {{#if user.u_name}} {{user.u_name}} {{else}} [Private] {{/if}}</h5>
      <h5>Username: {{#if user.u_id}} {{user.u_id}} {{else}} [Private] {{/if}}</h5>
      <h5>Location: {{#if user.u_loc}} {{user.u_loc}} {{else}} [Private] {{/if}}</h5>
    </div>
    <div class="stats-wrap">
      <!-- user statistics -->
      <h2>Statistics</h2>
      <div class="stats-info">
        <h4>Total votes: {{voteslength}}</h4>
        <h4 data-pid='1'>Longest vote time: {{votedisplay.longest}}</h4>
        <h4 data-pid='2'>Shortest vote time: {{votedisplay.shortest}}</h4>
        <h4>Avg. vote time: {{votedisplay.average}}</h4>
        <h4>Total vote time: {{votedisplay.total}}</h4>
        <h4>Polls created: {{pollslength}}</h4>
      </div>
    </div>
  </div>
  <div class="tabs">
    <div class="tab-container">
      <div class="tab-button" data-index="attr-wrap"><h2>Attributes</h2></div>
        <button class="test">create attr</button>
        <button class="test2">create upl</button>
      <div class="attr-wrap tab-content">
        <!-- user attr polls section -->
      </div>
    </div>
    <div class="tab-container">
      <div class="tab-button" data-index="upl-wrap"><h2>Polls About User</h2></div>
      <div class="upl-wrap tab-content">
        <!-- upl polls section -->
        <p>This is where the upl polls will show up</p>
      </div>
    </div>
    <div class="tab-container">
      <div class="tab-button" data-index="polls-wrap"><h2>User's Polls</h2></div>
      <div class="polls-wrap tab-content">
        <!-- user generated polls -->
        <table class="table table-striped">
          <thead>
            <tr>
              <td></td>
              <td><b>Question</b></td>
              <td><b>Votes</b></td>
            </tr>
          </thead>
          <tbody id='polls-wrap'>
            {{#each polls}} 
            <tr class="poll" poll-id='{{p_id}}'>
              <td class="extras"></td>
              <td>{{p_q}}</td>
              <td>{{p_total}}</td>
              <td><a href="/p/{{p_id}}" class="btn btn-default btn-xs">Vote!</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <!-- <ul>
          {{#each polls}} 
            <li><div>{{p_q}}<a href="/p/{{p_id}}">View</a></div></li>
          {{/each}}
        </ul> -->
      </div>
    </div>
  </div>
</div>